<h2>Хронические заболевания</h2>

<p class="input-with-button">
  <input class="input one-column" [(ngModel)]="newRecordText" placeholder="Начните вводить">
  <button class="add-button" nz-button nzType="primary" (click)="addItem()">+</button>
</p>
<table>
  <tr *ngFor="let record of chronicRecords">
    <td>
      <p class="date">{{record.date.substr(0, 10)}}</p>
      <p>{{record.text}}</p>
  </td>
    <td class="delete-button"><button nz-button nzType="default" nzDanger (click)="removeItem(record)"><i nz-icon nzType="delete" nzTheme="outline"></i></button></td>
  </tr>
</table>
<div class="bottom-button">
  <app-save-button></app-save-button>
</div>

