<table>
    <tr>
        <td>ФИО:</td>
        <td>{{sharedInfo.staticInfo.fullName}}</td>
    </tr>
    <tr>
        <td>Дата рождения:</td>
        <td>{{sharedInfo.staticInfo.birthday}}</td>
    </tr>
    <tr>
        <td>Пол:</td>
        <td>{{sharedInfo.staticInfo.sex}}</td>
    </tr>
    <tr>
        <td>Паспорт:</td>
        <td>{{sharedInfo.staticInfo.passport_series}} {{sharedInfo.staticInfo.passport_number}}</td>
    </tr>
    <tr>
        <td>Адрес регистрации:</td>
        <td>{{sharedInfo.staticInfo.address}}</td>
    </tr>
    <tr>
        <td>Полис:</td>
        <td>{{sharedInfo.staticInfo.policy}}</td>
    </tr>
    <tr>
        <td>СНИЛС:</td>
        <td>{{sharedInfo.staticInfo.snils}}</td>
    </tr>
</table>

<p>{{sharedInfo.dynamicInfo.symptoms}}</p>
